h1{
    font-size: 3.125em;
    text-align: center;
    margin: 15px;
}

.subtext{
    font-size: 1rem;
    text-align: center;
    margin: 25px;
}

.subtitle{
    font-size: 2.5em;
    text-align: center;
    margin: 50px;
}

.text{
    font-size: 1.5em;
    text-align: center;
    margin: 50px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.aster{
    position: absolute;
    height: 0px;
    animation-name: asterAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes asterAppear{
    100%{
        height: 60px;
    }
}